.learnmore {
    background-color: #0b0b0b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.navbar-nav .nav-item {
    margin-left: 10px;
}

.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item .btn {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand {
    margin-right: auto;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background-color: #f8f9fa;
    transition: right 0.3s ease;
    z-index: 1050;
    /* Bootstrap default navbar z-index is 1040 */
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.mobile-menu.show {
    right: 0;
}

.mobile-menu .close-menu-btn {
    display: block;
    margin-bottom: 20px;
    text-align: right;
}

.mobile-menu .close-menu-btn button {
    background: none;
    border: none;
    font-size: 1.5rem;
}

@media (max-width: 767px) {
    .navbar-toggler {
        display: block;
    }
}

@media (max-width: 375px) {
    .col-md-6 {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .order-md-2 {
        order: 1;
    }
    .order-md-1 {
        order: 2;
    }
}